body {
  text-align: center;
  font-family: "Oswald"  
}

.tweetbutton {
  inherit: none;
  height: 20px;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  /* gradient background -- thanks http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/ */
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -ms-linear-gradient(top, #FEFEFE 0%, #DFDFDF 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -moz-linear-gradient(top, #FEFEFE 0%, #DFDFDF 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -o-linear-gradient(top, #FEFEFE 0%, #DFDFDF 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #DFDFDF));
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -webkit-linear-gradient(top, #FEFEFE 0%, #DFDFDF 100%);
  border: 1px solid #cccccc;
    padding-left: 22px;
    padding-right: 4px;
    padding-top: 2px;
  
  font-weight: bold;
  font-size: 0.7em;
  font-family: Arial;
  
  color: #333333;
  text-decoration: none;
}
.tweetbutton:hover {
  background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -ms-linear-gradient(top, #f7f7f7 0%, #d9d9d9 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -moz-linear-gradient(top, #f7f7f7 0%, #d9d9d9 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -o-linear-gradient(top, #f7f7f7 0%, #d9d9d9 100%);
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(1, #d9d9d9));
background: url('https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png') no-repeat 2px 1px, -webkit-linear-gradient(top, #f7f7f7 0%, #d9d9d9 100%);
}


/* cpwebdev */

#made-by {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #337AB7;
  width: 200px;
  margin: 0px auto;
  padding: 10px;
  color: white;
}


.header {
  /*background: url("../img/runners.jpg") no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.logo {
  padding-top: 120px;
  margin-bottom: 30px;
}

.logo img {
  display: inline-block;
  height: 60px;
  margin-top: -40px;
  margin-right: 10px;
}

.logo h1 {
  display: inline-block;
 color: black;
  font-weight: 400;
  font-size: 5em;
  text-shadow: 5px 5px 5px gray;
}

.strava-btn {
  margin-top: 20px;
  width: 200px;
  height: auto;
}




.header h3 {
  font-size: 1.5em;
  color: black;

}

#react-holder {
  margin-top: 0px;
}

p { 
  font-size: 1.1em;
  color: black;
  margin: 10px;
}


/* FOR DASHBOARD */
.userdata {
  margin-top: 30px;
}

.loader {
  clear: both;
  padding-top: 60px;
  padding-bottom: 200px;
  display: block;
  margin: 0px auto;
}

/* FOR FOLLOWERS GRAPH */

.link {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

.node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}


.red {
  background-color: red;
  fill: red;
}

.circle {
  opacity: 0.4;
}


.btn {
  margin: 20px;
  padding: 10px;
}
/* FOR FOLLOWERS MAP */




path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}


.map {
  margin: 30px auto;
  box-shadow: 0 0 10px 10px gray;
}

div.tooltip {   
  position: absolute;           
  padding: 2px;             
  font: 12px;  
  color: white;
  text-align: center;
  border: 1px solid black;       background: black;  
  pointer-events: none;         
}
